.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.welcome-screen {
  background: linear-gradient(210deg, hsl(99, 100%, 74%), hsl(162, 100%, 74%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}