.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.welcome-screen {
  background: linear-gradient(210deg, #a8ff78, #78ffd6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}