.Tilt {
    background: linear-gradient(200deg, hsl(213, 51%, 65%), hsl(179, 44%, 64%), hsl(334, 66%, 71%));
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }
}

.wiggle-logo {
    animation: wiggle 1.5s ease-in-out infinite;
}